
//button colors
$yllw:#EE9A2C;

//base bg
$light-wht:#FBF8FD;

//additionals
$black: #000000;
$white: #ffffff;

$danger:#dc3545;
$warning: #ffc107;
$success: #28a745;


//new updates
$dark-wht:#EFE9F2;

$orng:#EE662C;
$orng-hover: #c94913;

$input-dark-border:#707070;

$body-bg-color: #F2F2F8;
$link-color:#121A50;
$auth-nav-bg:#19118D;
$base-blue:#3D4CD8;
$footer-bg:#0F1644;
$user-profile-bg:#0E076B;
$game-section-bg:#0A0463;
$input-border-color:#F2EBF6;
$placeholder-color:#E2DDE6;
$dark-prpl:#34104B;
$mid-prpl:#3D379F;
$lighter-prpl:#D9D1DF;
$table-th-color:#817DAF;
