.i-lang{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &.en{
    background-image: url("../img/flags/united-kingdom.png");
  }
  &.ru{
    background-image: url("../img/flags/russia.png");
  }
}
