@font-face {
  font-family: 'acumin';
  src: url('../fonts/AcuminProCondensed.ttf');
}

@font-face {
  font-family: 'bebasNeueBold';
  src: url('../fonts/BebasNeueBold.ttf');
}

@font-face {
  font-family: 'openSans';
  src: url('../fonts/OpenSans.ttf');
}

@font-face {
  font-family: 'openSansBold';
  src: url('../fonts/OpenSansBold.ttf');
}

// Fonts
$fonts: openSans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$openSans: openSans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$openSansBold: openSansBold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$acumin: acumin, bebasNeueBold, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

.openSans{
  font-family: 'openSans';
}
.openSansBold{
  font-family: 'openSansBold';
}
.acumin{
  font-family: 'acumin';
}
