// Xtra Large Breakpoint
$breakpoint-xl: 'only screen and (min-width:1200px)';
// Large Breakpoint
$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';
$breakpoint-lg-max: 'only screen and (max-width:1199px)';
// Medium Breakpoint
$breakpoint-md: 'only screen and (max-width:991px)';
// Small Breakpoint
$breakpoint-sm: 'only screen and (max-width:767px)';
// Xtra Small Breakpoint
$breakpoint-sm-ex: 'only screen and (max-width:575px)';

$breakpoint-xs: 'only screen and (max-width:480px)';
// Xtra Small Landscape Breakpoint
$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';


$breakpoint-lg-max: 'only screen and (max-width:1199px)';


@media #{$breakpoint-xl}{
  .container {
    max-width: 1300px;
  }
}

