.home__top {
  height: 700px;
  max-height: 80vh;
  min-height: 450px;
  position: relative;
  @media #{$breakpoint-sm}{
    max-height: 70vh;
    min-height: 300px;
    height: 400px;
  }
  @media #{$breakpoint-sm-ex}{
    height: 300px;
  }

  &-slider {
    .slider-item {
      position: relative;

      .slider-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .slider-title {
      text-align: center;
      color: $dark-wht;
      margin-bottom: 80px;
      @media #{$breakpoint-sm}{
        margin-bottom: 30px;
      }

      h2 {
        font-family: $openSansBold;
        @include font-size(4rem);
        @include rfs(60);
        @media #{$breakpoint-xs}{
          font-size: 30px;
        }
      }
    }

    .slider-img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .slick-dots {
    bottom: 40px;
    @media #{$breakpoint-md}{
      bottom: 10px;
    }

    li {
      button {
        &::before {
          content: '';
          background-color: $dark-wht;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }
  }

  &-arrows {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    max-width: 1600px;
    transform: translate(-50%, -50%);
    padding-left: 5%;
    padding-right: 5%;
    @media #{$breakpoint-xs}{
      display: none;
    }

    .sl-arrow {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid $white;
      background-size: 50%;
      background-position: center;
      opacity: 0.6;
      transition: .2s;
      &:hover{
        opacity: 1;
        background-color: rgba(225,225,225,0.3);
      }
    }

    &-prev {
      background-image: url(../img/icons/l-arrow.png);
    }

    &-next {
      background-image: url(../img/icons/r-arrow.png);
    }
  }

  .slick-slider {
    height: 100%;
  }

  .slider-item {
    height: 100%;
  }

  .slick-list {
    @extend .slider-item;
  }

  .slick-track {
    @extend .slider-item;
  }
}
.game__category{
  width: 100%;
  &-slider{
    @media #{$breakpoint-sm}{
      margin-bottom: 0!important;
    }
  }

  &.fixed{
    position: fixed;
    top: 65px;
    z-index: 999;
    min-height: unset;
    padding-bottom: 20px;
    .game-card{
     height: 50px;
     flex-direction: row;
     h4{
       margin: 0;
     }
     .ico{
       img{
         max-height: 20px;
         margin-right: 10px;
       }
     }
   }
  }
}
.game__category-slider {
  .slick-dots {
    bottom: -40px;
    @media #{$breakpoint-sm}{
      bottom: -20px;
    }
    li {
      button {
        &::before {
          content: '';
          background-color: $dark-wht;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 24px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    padding: 0;
    border: none;
    outline: none;
    z-index: 2;
    @media #{$breakpoint-sm-ex}{
      width: 30px;
    }
    &:focus {
      outline: none;
    }

    &.slick-disabled:before {
      opacity: 0;
      cursor: default;
    }
  }

  .slick-prev:before, .slick-next:before {
    content: '';
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    @media #{$breakpoint-sm-ex}{
      background-size: 10px;
    }
  }

  .slick-prev {
    left: -35px;
    @media #{$breakpoint-sm-ex}{
      left: -15px;
    }

    &:before {
      background-image: url("../img/icons/l-chevron.png");
      right: 0;
      @media #{$breakpoint-sm-ex}{
        background-color: rgba(0,0,0,0.7);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .slick-next {
    right: -35px;
    @media #{$breakpoint-sm-ex}{
      right: -15px;
    }

    &:before {
      background-image: url("../img/icons/r-chevron.png");
      left: 0;
      @media #{$breakpoint-sm-ex}{
        background-color: rgba(0,0,0,0.7);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
  .card-wrapper{
    margin: 10px;
  }
  .game-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    background-color: $white;
    height: 110px;
    max-width: 170px;
    margin: 0 auto;
    transition: .1s;
    border: 2px solid $white;
    @media #{$breakpoint-sm-ex}{
      height: 90px;
    }
    &:hover,&.active{
      border-color: $mid-prpl;
      box-shadow: 0px 5px 10px rgba(238, 102, 44, 0.6);
    }
    .ico{
      img{
        max-height: 40px;
        @media #{$breakpoint-sm-ex}{
          max-height: 30px;
        }
      }
    }
    h4{
      font-family: $acumin;
      text-transform: uppercase;
      color: $link-color;
      font-size: 16px;
      margin: 15px 0 0 0;
      text-align: center;
    }
  }
}



