.btn-main{
  padding: 6px 30px;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: .2s;
  border-width: 2px;
  border-style: solid;
  font-size: 16px;
  font-family: $acumin;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  outline: none;
  white-space: nowrap;
  &:hover,&:active,&:focus{
    outline: none;
    font-size: 16px;
    font-family: $acumin;
  }
  &.lg{
    font-size: 22px;
    padding: 14px 60px;
    @media #{$breakpoint-sm}{
      font-size: 16px;
      padding: 8px 40px;
    }
  }
  &.orng{
    background-color: $orng;
    color: $white;
    border-color: $orng;
    &:hover{
      background-color: $orng-hover;
      border-color: $orng-hover;
    }
  }
  &.prpl{
    background-color: transparent;
    border-color: $lighter-prpl;
    color: $dark-prpl;
    &:hover{
      border-color: $dark-prpl;
    }
  }
  &.lght{
    border-color: $table-th-color;
    background-color: transparent;
    color: $table-th-color;
    &:hover{
      background-color: $table-th-color;
      color: $link-color;
    }
  }
  &.wht{
    border-color: $white;
    background-color: $white;
    color: $link-color;
    &:hover,&.active{
      border-color: $base-blue;
    }
    &-b{
      border:2px solid $input-border-color;
      color: $link-color;
      display: inline-flex;
      align-items: center;
      margin: 5px 5px 5px 0;
      &.brand{
        padding-right: 14px;
        .ico{
          width: 24px;
          height: 24px;
          border-radius: 50%;
          overflow: hidden;
          background-color: $placeholder-color;
          position: absolute;
          left: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
        }
        img{
          object-position: center;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        p{
          color: $link-color;
          margin: 0;
          font-family: $acumin;
          margin-left: 5px;
        }
      }
      &:hover,&.active{
        border-color:$base-blue;
        color: $base-blue;
        p{
          color: $base-blue;
        }
      }
    }
  }
  &.b-wht{
    border-color: $white;
    color: $white;
    &:hover{
      background-color: $white;
      color: $link-color;
    }
  }
  &.sm{
    font-size: 14px;
    padding: 8px 20px;
  }
  &.loader{
    padding-right: 50px;
    color: $link-color;
    background-image: url("../img/icons/loader.svg");
    background-position: right 20px center;
    background-size: 10px;
    min-height: 40px;
    min-width: 40px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
    transition: 0s;
    &:hover{
      border-color: $lighter-prpl;
    }
    span{
      color: $link-color;
    }
    &.active{
      box-shadow: none;
      span{
        display: none;
      }
      padding:0;
      background-position: center;
      background-image: url("../img/icons/loading.svg");
      background-size: 24px;
      border: none;
    }
  }
}
.add-btn{
  padding-left: 30px!important;
  span{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    line-height: 30px;
    height: 100%;
  }
}
