//*footer scss
.footer{
  background-color: $link-color;
  padding: 70px 0 0 0;
  font-family: $openSans;
  &-links{
    margin-bottom: 50px;
  }
  &__section{
    margin-bottom: 30px;
    @media #{$breakpoint-sm}{
      text-align: center;
    }
    h2{
      font-size: 17px;
      font-family: $openSansBold;
      color: $light-wht;
    }
    ul{
      margin-bottom: 20px;
      li{
        a{
          font-family: $openSans;
          font-size: 14px;
          color: $light-wht;
          transition: .2s;
          opacity: .6;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
    p{
      font-family: $openSans;
      font-size: 14px;
      color: $light-wht;
      opacity: .6;
      margin-bottom: 30px;
    }
  }
  .copyright{
    background-color: $footer-bg;
    padding: 30px 0;
    margin-top: 60px;
    text-align: center;
    color: $light-wht;
    p{
      margin: 0;
      font-size: 13px;
    }
  }
}
