.v-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  .v-message{
    font-size: 12px;
    display: inline-block;
    padding: 3px 0 3px 20px;
    float: right;
    text-align: right;
    background-size: 14px;
    background-position: left center;
    user-select: none;
    &__error{
      @extend .v-message;
      color: $danger;
      background-image: url("../img/icons/error.svg");
    }
    &__success{
      @extend .v-message;
      color: $success;
      background-image: url("../img/icons/success.svg");
    }
  }
  &._ex-padding{
    margin-top: 22px!important;
    @media#{$breakpoint-md}{
      padding-top: 0!important;
    }
  }
  &.lg{
    max-width: 100%;
  }
  &-wrapper{
    position: relative;
    margin-bottom: 15px;
    .field-name{
      position: absolute;
      display: flex;
      align-items: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $light-wht;
      font-family: $acumin;
      text-transform: uppercase;
      @media #{$breakpoint-sm}{
        position: relative;
        transform: none;
        top: 0;
        width: 100%;
        margin-bottom: 20px;
      }
      i{
        font-size: 25px;
        margin-right: 5px;
      }
      span{
        max-width: 122px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        @media #{$breakpoint-lg}{
          max-width: 70px;
        }
      }
    }
    &.right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      @media #{$breakpoint-sm}{
        justify-content: space-between;
      }
    }
  }
  &-edit{
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 5;
    background-image: url("../img/icons/edit-b.png");
    background-position: center;
    background-size: 15px;
    &:hover{
      background-size: 16px;
    }
  }
  &__title {
    display: block;
    text-align: center;
    color: $link-color;
    font-family: $openSansBold;
    margin-bottom: 45px;
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: $openSansBold;
    font-size: 12px;
    color: $lighter-prpl;
    margin-bottom: 0;
    text-transform: uppercase;
    i{
      font-size: 20px;
      margin-right: 5px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    font-family: $openSans;
    font-size: 14px;
    padding: 6px 0;
    background-color: transparent;
    border-bottom: 1px solid $input-dark-border;

    &:focus {
      border-bottom: 1px solid $base-blue;
    }
    &.error{
      border-bottom: 1px solid $danger;
    }
    &.success{
      border-bottom: 1px solid $success;
    }

    &::placeholder {
      color: $placeholder-color;
      font-size: 13px;
    }
  }
  &__textarea{
    width: 100%;
    margin:6px 0 0 0;
    outline: none;
    border-radius: 0;
    padding: 6px;
    height: 150px;
    border:none;
    background-color: $light-wht;
    &::placeholder{
      color: $placeholder-color;
      font-size: 13px;
    }
  }
  &__check {
    &-box {
      position: relative;
      text-align: left;
      display: flex;
      label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        line-height: 1.835em;
        vertical-align: top;
        clear: both;
        padding-left: 1px;
        font-size: 12px;
        font-family: $openSans;
        color: $dark-prpl;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 3px;
        }

        &::before {
          width: 26px;
          height: 26px;
          background: transparent;
          border: 2px solid $auth-nav-bg;
          border-radius: 50%;
          cursor: pointer;
          transition: background .2s;
        }

        a {
          font-size: 12px;
          color: $base-blue;
          display: inline;
        }

        &:not(:empty) {
          padding: 5px 0 5px 50px;
        }
      }

      input {
        &[type="checkbox"] {
          outline: 0;
          visibility: hidden;
          position: absolute;
          z-index: -1;
          left: -99em;
          &:checked{
            + label::before {
              background: $auth-nav-bg;
              border: none;
            }
            + label::after{
              transform: translate(6px,7px) rotate(-45deg);
              width: 14px;
              height: 9px;
              border: 2px solid $light-wht;
              border-top-style: none;
              border-right-style: none;
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 16px 0;
    .pass-recovery{
      color: $dark-prpl;
      margin-top: 30px;
      font-size: 14px;
      &:hover{
        color: $link-color;
       }
    }
  }
}

.acc-form{
  .v-form{
    &-wrapper{
      margin-bottom: 30px;
    }
    &__label{
      margin-bottom: 10px;
    }
    &__input{
      color: $light-wht;
      &::placeholder {
        color: $input-dark-border;
      }
    }
    &-edit{
      background-image: url("../img/icons/edit.png");
    }
  }
  .btn-main{
    &.lght{
      margin-right: 10px;
    }
  }
}
