//*header scss goes here
@keyframes fader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  display: none;
}
.open{
  .overlay{
    @media #{$breakpoint-md}{
      display: block;
    }
  }
}
.sm-scroll{
  @media #{$breakpoint-md}{
    overflow-y: auto;
    padding-bottom: 30px!important;
  }
}
.hamburger{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  @media #{$breakpoint-xs}{
    margin-left: 10px;
  }
  &::before{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    background-color:$dark-prpl;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 12px;
      border-top: 3px solid $dark-prpl;
      border-bottom: 3px solid $dark-prpl;
  }
}
.mobile-cls {
  position: absolute;
  right: 15px;
  top: 16px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-size: 44px;
  text-align: center;
  line-height: 15px;
  color: $dark-prpl;
  display: none;
  @media #{$breakpoint-md}{
    display: block;
  }
}

.sm-navbar {
  display: none;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  @media #{$breakpoint-md}{
    display: flex;
  }
}

.header {
  .nav-user{
    color: $white;
    position: relative;
    cursor: pointer;
    &-btn{
      display: block;
      color: $link-color;
      @media #{$breakpoint-md}{
        color: $link-color;
      }
      &::after{
        content: "";
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
        right: 10px;
        width: 20px;
        height: 10px;
        background-image: url(../img/icons/chevron-down.png);
        background-size: contain;
        background-position: 50%;
        @media #{$breakpoint-md}{
          background-image: url(../img/icons/chevron-down.png);
        }
      }
    }
    &-switch{
      display: none;
      background-color: $light-wht;
      color: $black;
      border-radius: 12px;
      position: absolute;
      min-width: 140px;
      width: auto;
      right: -10px;
      top: calc(100% + 5px);
      overflow: hidden;
      z-index: 10;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      ul{
        li{
          color: $table-th-color;
          padding: 8px 15px;
          a{
            color: $table-th-color;
          }
          &.log-out{
            border-top: 1px solid $lighter-prpl;
            padding: 0;
            a{
              display: block;
              padding: 8px 15px;
              font-family: $acumin;
              background-image: url(../img/icons/logout.svg);
              background-position: right 10px center;
            }
          }
        }
      }
      span{
        display: block;
        padding: 2px 10px;
        transition: .2s;
        &:hover{
          background-color: $input-border-color;
        }
      }
    }
    &.open{
      .nav-user-btn{
        &::after{
          transform: translateY(-50%) rotate(180deg);
        }
      }
        .nav-user-switch{
        display: block;
      }
    }
    @media #{$breakpoint-md}{
      color: $black;
    }
  }
  .user-details{
    display: flex;
    align-items: center;
    margin-right: 20px;
    @media #{$breakpoint-sm}{
      margin-bottom: 15px;
    }
    a.name{
      margin: 0;
      font-family: $acumin;
      text-transform: capitalize;
      color: $link-color;
    }
    .nav-user{
      color: $black;
      user-select: none;
    }
  }
  &__user{
    position: relative;
    display: flex;
    align-items: center;
    @media #{$breakpoint-md}{
      margin-bottom: 20px;
    }
    &-avatar{
      width: 50px;
      height: 50px;
      background-image: url("../img/icons/empty-user.png");
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin-top: -5px;
      margin-bottom: -5px;
      margin-right: 10px;
      display: block;
      overflow: hidden;
      @media #{$breakpoint-sm}{
        margin-right: 10px!important;
      }
      img{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
  &.profile-nav{
    background-color: transparent;
    background-image: linear-gradient($footer-bg, transparent);
    box-shadow: none;
    padding-bottom: 30px;
    .notifications{
      &-bell{
        background-image: url(../img/icons/bell-w.svg);
        @media #{$breakpoint-md}{
          background-image: url(../img/icons/bell.svg);
        }
      }
    }
    .nav-user-btn{
      color: $light-wht;
      &::after{
        background-image: url(../img/icons/chevron-down-w.png);
        @media #{$breakpoint-md}{
          background-image: url(../img/icons/chevron-down.png);
        }
      }
      @media #{$breakpoint-md}{
        color: $link-color;
      }
      &::after{

      }
    }
    .hamburger{
      &::before{
        background-color: $white;
      }
      &::after{
        border-color: $white;
      }
    }
    .user-details{
      color: $light-wht;
    }
    .navbar-link{
      color: $light-wht;
    }
    a.name{
      color: $light-wht;
      @media #{$breakpoint-md}{
        color: $link-color;
      }
    }
  }
  background-color: $body-bg-color;
  font-family: $acumin;
  text-transform: uppercase;
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  @media #{$breakpoint-md}{
    height: 65px;
  }
  &.open{
    .user-details{
      color: $link-color;
    }
    .header__navbar{
      @media #{$breakpoint-md}{
        transform: translateX(0);
      }
    }
  }

  a {
    font-family: $acumin;
    &.header__sign-btn{
      @media #{$breakpoint-sm}{
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px;
      }
    }
  }

  .navbar-logo {
    display: block;
    width: 110px;
    margin-right: 35px;
    @media #{$breakpoint-sm}{
      width: 100px;
      margin-right: 10px;
    }
    @media #{$breakpoint-xs}{
      width: 80px;
    }
  }

  &__container {
    padding: 0 15px;
    max-width: 1640px;
    margin: 0 auto;
    position: relative;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    @media #{$breakpoint-md}{
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 85%;
      max-width: 320px;
      flex-direction: column-reverse;
      background-color: $body-bg-color;
      align-items: flex-start;
      padding: 0;
      justify-content: flex-end;
      transition: .2s;
      transform: translateX(100%);
      z-index: 100;
      li {
        width: 100%;
      }
    }
  }

  &__flex {
    display: flex;
    align-items: center;

    &.sm {
      @media #{$breakpoint-md}{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        width: 100%;
        .search-field {
          position: relative;
          transform: translate(-50%, 0);
          top: 0;
          margin-bottom: 20px;
        }
        .navbar-link {
          margin-bottom: 5px;
          margin-right: 0;
          padding: 10px 0;
          color: $link-color;
          &::after{
            display: none;
          }

          .new-mark {
            top: 14px;
            right: unset;
            left: 33px;
          }
        }
        &.f-row {
          @media #{$breakpoint-md}{
            flex-direction: row;
            justify-content: space-between;
            padding: 70px 20px 40px 20px;
            margin-bottom: 10px;
            flex-wrap: wrap;
            li {
              width: unset;

              a {
                margin: 0;
                margin-right: 10px;
              }
            }
          }
        }
      }

      .navbar-logo {
        @media #{$breakpoint-md}{
          display: none;
        }
      }
    }
  }

  &__sign-btn {
    margin-right: 20px;
    @media #{$breakpoint-lg}{
      margin-right: 15px;
    }
  }

  &__lang-bar {
    height: 40px;
    width: 80px;
    border: 2px solid $lighter-prpl;
    border-radius: 40px;
    position: relative;
    padding: 2px;
    cursor: pointer;
    transition: .2s;
    @media #{$breakpoint-sm}{
      width: 60px;
    }
    &:not(.sm) {
      @media #{$breakpoint-md}{
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      width: 16px;
      height: 12px;
      background-image: url("../img/icons/chevron-down.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media #{$breakpoint-sm}{
        right: 5px;
        width: 14px;
      }
    }

    &.open {
      border-color: $dark-prpl;

      .header__lang-bar-box {
        display: block;
      }

      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:hover {
      border-color: $dark-prpl;
    }

    button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
      background-color: grey;
      outline: none;
    }

    .header__lang-bar-box {
      position: absolute;
      padding: 12px 12px 2px 12px;
      border-radius: 12px;
      background-color: $dark-prpl;
      min-width: 80px;
      min-height: 40px;
      width: auto;
      display: flex;
      right: 0;
      top: calc(100% + 10px);
      display: none;

      &::after {
        content: '';
        position: absolute;
        background-color: $dark-prpl;
        width: 16px;
        height: 16px;
        top: -4px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        z-index: -1;
      }

      a {
        width: 32px;
        display: block;
        height: 32px;
        border-radius: 50%;
        border: none;
        background-color: grey;
        outline: none;
        margin: 0 auto 10px auto;

        &:hover {
          border: 2px solid $white;
        }
      }
    }
  }

  .search-field {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 400px;
    @media #{$breakpoint-lg}{
      max-width: 280px;
    }

    input {
      padding: 6px 60px 6px 78px;
      border-radius: 12px;
      border: 1px solid $input-border-color;
      width: 100%;
      font-size: 14px;

      &::placeholder {
        color: $placeholder-color;
      }
    }

    .search-label {
      position: absolute;
      left: 20px;
      top: 50%;
      font-size: 14px;
      transform: translateY(-50%);
      user-select: none;
    }

    .search-btn {
      position: absolute;
      right: 0;
      top: 50%;
      width: 60px;
      height: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-image: url("../img/icons/search.png");
      background-size: 20px;
      background-position: center;
      transform: translateY(-50%);
      outline: none;
    }
  }

  .navbar-link {
    color: $link-color;
    margin-right: 30px;
    position: relative;
    display: block;
    font-size: 16px;

    &::after {
      content: '';
      left: 0;
      bottom: -5px;
      position: absolute;
      height: 4px;
      width: 0;
      transition: .2s;
      background-color: $dark-prpl;
    }

    &:hover::after {
      width: 100%;
    }

    @media #{$breakpoint-lg}{
      margin-right: 15px;
    }

    .new-mark {
      position: absolute;
      top: -12px;
      right: -26px;
      color: $white;
      background-color: $orng;
      font-size: 9px;
      padding: 2px 5px;
      animation: fader 1.8s ease-out infinite;

      &::before {
        content: '';
        position: absolute;
        right: -14px;
        top: 0;
        height: 17px;
        width: 14px;
        border-top: 9px solid $orng;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $orng;
      }
    }
  }
  .notifications{
    position: relative;
    &-bell{
      width: 20px;
      height: 20px;
      position: relative;
      background-image: url(../img/icons/bell.svg);
      margin-right: 20px;
      cursor: pointer;
      background-size: contain;
      span{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #dc3545;
        border-radius: 50%;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-family: acumin;
        right: -6px;
        top: -8px;
        user-select: none;
      }
    }
  }
}

