.v-modal {
  &__dialog {
    width: 100%;
    max-width: 500px;
    margin: 1.75rem auto;
  }

  &__content {
    border: none;
    border-radius: 0;
    background-clip: unset;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
  }

  &__header {
    position: relative;
    border: none;
    border-radius: 0;
    min-height: 60px;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;

    &.register {
      background-color: $auth-nav-bg;

      .v-modal__title {
        color: $light-wht;
        margin-bottom: 0;
        line-height: 1.5;

        .v-modal__offer {
          margin-bottom: 0;
          padding-left: 120px;
          background-size: 100px;
          background-position: left center;
          background-image: url("../img/icons/popup-offer.png");

          b {
            margin-bottom: 4px;
            display: block;
            font-size: 16px;
            line-height: 17px;
          }
        }
      }

      .close {
        color: $white;
        opacity: 1;

        &:hover {
          color: $white;
        }
      }
    }

    .close {
      font-size: 30px;
      font-size: 44px;
      line-height: 25px;
      font-weight: lighter;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      outline: none;
      text-shadow: none;

      &:active {
        outline: none;
      }
    }
  }

  &__body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }

  &__footer {
    background-color: $light-wht;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;

    p {
      margin-right: 0 !important;
      color: $dark-prpl;
    }

    a {
      color: $link-color;
      border-color: $link-color;
      margin: 0 !important;

      &:hover {
        background-color: $link-color;
        color: $light-wht;
      }
    }
  }
}

.game-list-modal {
  .modal-body{
    background-color: $game-section-bg;
  }
  .modal-header {
    background-color: $game-section-bg;
    color: $white;
    display: flex;
    align-items: center;
    font-family: $acumin;
    font-size: 22px;
    text-transform: uppercase;

    .close {
      color: $white !important;
      opacity: 1;
      font-weight: lighter;
    }
  }
}

.add-game__search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  .search-field {
    position: relative;
    width: 100%;
    max-width: 400px;
    font-family: $acumin;

    input {
      padding: 6px 60px 6px 78px;
      border-radius: 12px;
      border: 1px solid $input-border-color;
      width: 100%;
      font-size: 14px;
    }

    .search-btn {
      position: absolute;
      right: 0;
      top: 50%;
      width: 60px;
      height: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-image: url(../img/icons/search.png);
      background-size: 20px;
      background-position: 50%;
      transform: translateY(-50%);
      outline: none;
    }

    .search-label {
      position: absolute;
      left: 20px;
      top: 50%;
      font-size: 14px;
      transform: translateY(-50%);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-transform: uppercase;
      color: $game-section-bg;
    }
  }
}
