* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
*::before,*::after{
  background-repeat: no-repeat;
}

body {
  font-family: $fonts;
}
body,html{
  overflow-x: hidden;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts;
  line-height: 1.3;
  font-weight: 700;
}

p {
  font-family: $fonts;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0 solid transparent;
  font-size: 14px;
  font-family: $fonts;
}

ul {
  margin: 0;

  li {
    list-style: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;

  &::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}

.bg-fixed {
  background-attachment: fixed !important;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

iframe{
  border: none;
}
