---
layout: profile-nav
title: Vulcan Fruit - Account
---

<div class="user-overlay">
    <section class="user__offer">
        <div class="container">
            <div class="user__offer-content">
                <div class="tumb">
                    <img src="assets/img/home/game-2.png" alt="">
                </div>
                <div class="action">
                    <h2 class="title">
                        try our most played game
                        <div>king of kingdom</div>
                    </h2>
                    <a href="#!" class="btn-main orng">join</a>
                </div>
            </div>
        </div>
        <div class="user__offer-banner">
            <img src="assets/img/account/account-offer.png" alt="">
        </div>
    </section>
    <section class="profile__tabs">
        <div class="container">
            <div class=" ">
                <ul class="nav account-nav" id="user-fields" role="tablist">
                    <li class="nav-item">
                        <a href="#account" id="account-tab" class="nav-link active show" data-toggle="tab" role="tab" area-controls="account" area-selected="true"><i class="i-account"></i>account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#deposit" id="deposit-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="deposit" area-selected="false"><i class="i-deposit"></i>deposit</a>
                    </li>
                    <li class="nav-item">
                        <a href="#withdraw" id="withdraw-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="withdraw" area-selected="false"><i class="i-withdraw"></i>withdraw</a>
                    </li>
                    <li class="nav-item">
                        <a href="#history" id="history-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="history" area-selected="false"><i class="i-history"></i>history</a>
                    </li>
                    <li class="nav-item">
                        <a href="#security" id="security-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="security" area-selected="false"><i class="i-security"></i>security</a>
                    </li>
                    <li class="nav-item">
                        <a href="#verification" id="verification-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="verification" area-selected="false"><i class="i-verification"></i>verification</a>
                    </li>
                    <li class="nav-item">
                        <a href="#my-games" id="my-games-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="my-games" area-selected="false"><i class="i-my-games"></i>my games</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="account" role="tabpanel" area-labelledby="account-tab">
                <div class="acc-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="v-form">
                                    <div class="v-form-wrapper">
                                        <a href="#!" class="v-form-edit"></a>
                                        <label for="" class="v-form__label">first name</label>
                                        <input class="v-form__input" disabled type="text" placeholder="" value="Nick">
                                    </div>
                                    <div class="v-form-wrapper">
                                        <a href="#!" class="v-form-edit"></a>
                                        <label for="" class="v-form__label">last name</label>
                                        <input class="v-form__input" disabled type="text" placeholder="" value="Bubich">
                                    </div>
                                    <div class="v-form-wrapper">
                                        <a href="#!" class="v-form-edit"></a>
                                        <label for="" class="v-form__label">birth date</label>
                                        <input class="v-form__input" disabled type="text" placeholder="" value="23/12/2020">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="v-form">
                                    <div class="v-form-wrapper">
                                        <a href="#!" class="v-form-edit"></a>
                                        <label for="" class="v-form__label">phone</label>
                                        <input class="v-form__input" disabled type="text" placeholder="" value="00995 756 343 234">
                                    </div>
                                    <div class="v-form-wrapper">
                                        <a href="#!" class="v-form-edit"></a>
                                        <label for="" class="v-form__label">country</label>
                                        <input class="v-form__input" disabled type="text" placeholder="" value="Georgia">
                                    </div>
                                    <div class="v-form-wrapper">
                                        <label for="" class="v-form__label">email</label>
                                        <input class="v-form__input" disabled type="text" placeholder="" value="test@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center">
                                <div class="account-offer">
                                    <img src="assets/img/account/bott-offer.png" alt="">
                                    <a href="#!" class="btn-main orng">Claim your bonus</a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 pb-5">
                            <button class="btn-main orng">submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="deposit" role="tabpanel" area-labelledby="deposit-tab">
                <div class="acc-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <form action="">
                                    <div class="v-form">
                                        <div class="v-form-wrapper">
                                            <label for="" class="v-form__label">amount</label>
                                            <input class="v-form__input" type="text" placeholder="1000 €">
                                        </div>
                                        <div class="text-left mb-5">
                                            <button class="btn-main orng">submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4 d-flex align-items-center">
                                <div class="account-offer">
                                    <img src="assets/img/account/bott-offer.png" alt="">
                                    <a href="#!" class="btn-main orng">Claim your bonus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="withdraw" role="tabpanel" area-labelledby="withdraw-tab">
                <div class="acc-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <form action="">
                                    <div class="v-form">
                                        <div class="v-form-wrapper">
                                            <label for="" class="v-form__label">amount</label>
                                            <input class="v-form__input" type="text" placeholder="1000 €">
                                        </div>
                                        <div class="text-left mb-5">
                                            <button class="btn-main orng">submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4 d-flex align-items-center">
                                <div class="account-offer">
                                    <img src="assets/img/account/bott-offer.png" alt="">
                                    <a href="#!" class="btn-main orng">Claim your bonus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" area-labelledby="history-tab">
                <div class="acc-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="v-form">
                                    <div class="v-form-wrapper">
                                        <label for="" class="v-form__label">from</label>
                                        <input class="v-form__input" type="text" value="" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="v-form">
                                    <div class="v-form-wrapper">
                                        <label for="" class="v-form__label">to</label>
                                        <input class="v-form__input" type="text" value="" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="v-form _ex-padding">
                                    <div class="v-form-wrapper">
                                        <button class="btn-main orng">show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="history-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Time</th>
                                <th>Game</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>20164</td>
                                <td>11:53 25/02/2020</td>
                                <td>843:100_Joker_Staxx</td>
                                <td>0.56 USD</td>
                            </tr>
                            <tr>
                                <td>20164</td>
                                <td>11:53 25/02/2020</td>
                                <td>843:100_Joker_Staxx</td>
                                <td>0.56 USD</td>
                            </tr>
                            <tr>
                                <td>20164</td>
                                <td>11:53 25/02/2020</td>
                                <td>843:100_Joker_Staxx</td>
                                <td>0.56 USD</td>
                            </tr>
                            <tr>
                                <td>20164</td>
                                <td>11:53 25/02/2020</td>
                                <td>843:100_Joker_Staxx</td>
                                <td>0.56 USD</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="security" role="tabpanel" area-labelledby="security-tab">
                <div class="container">
                    <div class="qr-section">
                        <div class="qr-img">
                            <img src="assets/img/account/qr.png" alt="">
                        </div>
                        <div class="text-center">
                            <div class="code">ONSGC43EMFTWC</div>
                        </div>
                    </div>
                </div>
                <div class="acc-form">
                    <form action="">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="v-form">
                                        <div class="v-form-wrapper">
                                            <label for="" class="v-form__label">Enter code manually</label>
                                            <input class="v-form__input" type="text" value="" placeholder="Code here">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="v-form _ex-padding">
                                        <div class="v-form-wrapper">
                                            <button class="btn-main orng">active</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="verification" role="tabpanel" area-labelledby="verification-tab">
                <div class="container">
                    <div class="acc-form">
                        <form action="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-5">
                                        <div class="v-form">
                                            <div class="v-form-wrapper">
                                                <label for="" class="v-form__label">
                                                    <i class="i-mobile-new"></i>
                                                    phone number verification
                                                </label>
                                                <input class="v-form__input" type="text" value="" placeholder="Sms key">
                                            </div>
                                            <div class="v-form-wrapper right mb-5">
                                                <button class="btn-main lght">send code</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                            <div class="v-form-wrapper right">
                                                <div class="field-name">
                                                    <i class="i-poifront"></i>
                                                    <span>JPEG842_23_123.jpg</span>
                                                </div>
                                                <button class="btn-main lght">upload</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                            <div class="v-form-wrapper right">
                                                <div class="field-name">
                                                    <i class="i-poiback"></i>
                                                    <span>poi back:</span>
                                                </div>
                                                <button class="btn-main lght">upload</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                            <div class="v-form-wrapper right">
                                                <div class="field-name">
                                                    <i class="i-por"></i>
                                                    <span>por:</span>
                                                </div>
                                                <button class="btn-main lght">upload</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block col-lg-1"></div>
                                    <div class="col-12 col-md-12 col-lg-5">
                                        <div class="v-form">
                                            <div class="v-form-wrapper">
                                                <label for="" class="v-form__label">
                                                    <i class="i-mail-new"></i>
                                                    Email verification
                                                </label>
                                                <input class="v-form__input" type="text" value="" placeholder="Email key">
                                            </div>
                                            <div class="v-form-wrapper right mb-5">
                                                <button class="btn-main lght">send code</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                            <div class="v-form-wrapper right">
                                                <div class="field-name">
                                                    <i class="i-ccfront"></i>
                                                    <span>cc front:</span>
                                                </div>
                                                <button class="btn-main lght">upload</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                            <div class="v-form-wrapper right">
                                                <div class="field-name">
                                                    <i class="i-ccback"></i>
                                                    <span>cc back:</span>
                                                </div>
                                                <button class="btn-main lght">upload</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                            <div class="v-form-wrapper right">
                                                <div class="field-name">
                                                    <i class="i-dod"></i>
                                                    <span>dod:</span>
                                                </div>
                                                <button class="btn-main lght">upload</button>
                                                <button class="btn-main orng">verify</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="my-games" role="tabpanel" area-labelledby="my-games-tab">
                <div class="container">
                    <h2 class="empty-title">Empty</h2>
                </div>
            </div>
        </div>
    </section>
</div>
