---
layout: default
title: Vulcan Fruit - Contact
---
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact__text">
                    <p>Questions or inquiries? Need technical or gaming support? Our representatives are always here to answer questions, resolve issues and ensure you get the most out of your account. Feel free to choose your preferred contact method.</p>
                    <ul>
                        <li><i class="i-mail-new"></i>info@vulcanfruit.com</li>
                        <li><i class="i-mobile-new"></i>+525585266981</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 _ex-col">
                <form action="">
                    <div class="v-form">
                        <div class="v-form__title">Contact Us</div>
                        <div class="v-form-wrapper">
                            <label class="v-form__label">Name</label>
                            <input class="v-form__input" type="text" placeholder="Enter your name">
                        </div>
                        <div class="v-form-wrapper">
                            <label class="v-form__label">Email</label>
                            <input class="v-form__input" type="text" placeholder="Email Address">
                        </div>
                        <div class="v-form-wrapper">
                            <label class="v-form__label">Message</label>
                            <textarea class="v-form__textarea" name="" id="" cols="30" rows="10" placeholder="type text here"></textarea>
                        </div>
                        <div class="v-form__footer">
                            <button type="submit" class="btn-main orng">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
