---
layout: game
title: Vulcan Fruit - game name
---
{{>modals}}
<!--online users icon-->
<svg style="position: absolute; width: 0px; height: 0px; overflow: hidden;" id="user-ico" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
</svg>
<!--online users icon end-->

<section class="v-game">
    <div class="container v-game__container">
        <div class="v-game__container-header">
            <h2>King of Kingdom</h2>
            <div class="d-flex align-items-center">
                <a href="#!" class="btn-main sm b-wht add-btn mr-3" data-toggle="modal" data-target="#addGameModal"><span>&#43;</span> play more</a>
                <a href="#!" class="btn-main sm wht mr-3">deposit</a>
                <a href="index.html" class="btn-main sm orng">back to lobby</a>
            </div>
        </div>
        <iframe src="https://www.gamearter.com/game/chibi-hero-adventure/" width="100%" height="100%" allow="fullscreen"></iframe>
        <div class="game__container-action">
            <a href="#!" class="btn-main orng">play in real mode</a>
        </div>
    </div>
</section>
