---
layout: default
title: Vulcan Fruit - Home
---
{{>modals}}

<!--online users icon-->
<svg style="position: absolute; width: 0px; height: 0px; overflow: hidden;" id="user-ico" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
</svg>
<!--online users icon end-->

<section class="home__top">
    <div class="home__top-arrows">
        <div class="sl-arrow home__top-arrows-prev"></div>
        <div class="sl-arrow home__top-arrows-next"></div>
    </div>
    <div id="main-slider" class="home__top-slider">
        <div class="slider-item">
            <div class="slider-content">
                <div class="slider-title">
                    <div class="container">
                        <h2>WELCOME BONUS<br>UP TO $1000 + 125 FREE SPINS</h2>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#!" class="btn-main orng lg">играть сейчас</a>
                </div>
            </div>
            <div class="slider-img">
                <img src="assets/img/home/slider-cover.png" alt="">
            </div>
        </div>
        <div class="slider-item">
            <div class="slider-content">
                <div class="slider-title">
                    <div class="container">
                        <h2>WELCOME BONUS<br>UP TO $1000 + 125 FREE SPINS</h2>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#!" class="btn-main orng lg">join now</a>
                </div>
            </div>
            <div class="slider-img">
                <img src="assets/img/home/slider-cover-2.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="game__category">
    <div class="container">
        <div id="game-category-slider" class="game__category-slider">
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/poker.png" alt="">
                    </div>
                    <h4>video pocker</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/lucky.png" alt="">
                    </div>
                    <h4>Настольные игры</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/lobby.png" alt="">
                    </div>
                    <h4>lobby</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/new.png" alt="">
                    </div>
                    <h4>new</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card active">
                    <div class="ico">
                        <img src="assets/img/home/icons/roulette.png" alt="">
                    </div>
                    <h4>roulette</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/slots.png" alt="">
                    </div>
                    <h4>video slots</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/heart.png" alt="">
                    </div>
                    <h4>trending</h4>
                </a>
            </div>
            <div class="card-wrapper">
                <a href="#!" class="game-card">
                    <div class="ico">
                        <img src="assets/img/home/icons/all.png" alt="">
                    </div>
                    <h4>all games</h4>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="game__providers">
    <div class="container">
        <div class="d-flex justify-content-end">
            <div class="game__providers-sort">
                <span>Game providers:</span>
                <div class="btn-main wht providers-sort-btn">All</div>
            </div>
        </div>
    </div>
    <div class="game__providers-container">
        <div class="container">
            <div class="providers-list">
                <a href="#!" class="btn-main wht-b active">all</a>
                <a href="#!" class="btn-main wht-b brand">
                    <div class="ico">
                        <img src="https://vulcanvegas.com/file/media:2f5cee0c633c04f54f8e87e2f2041153a807f7a8bb" alt="">
                    </div>
                    <p>yggdrasil</p>
                </a>
                <a href="#!" class="btn-main wht-b brand">
                    <div class="ico">
                        <img src="https://vulcanvegas.com/file/media:7c2d3e4259292424693be53ac967e7affe716ccbd4" alt="">
                    </div>
                    <p>intervision</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="game__list">
    <div class="container">
        <div id="games__cont--new" class="game__list-grid">
            <div class="box">
                <div class="box__content">
                    <a href="#!" class="game-sort-link">
                        <img src="assets/img/home/icons/new.png" alt="">
                        <p>new</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="loader-container">
                <a href="#!" class="btn-main wht loader">
                    <span>load more</span>
                </a>
            </div>
        </div>
        <div class="game__list-grid">
            <div class="box">
                <div class="box__content">
                    <a href="#!" class="game-sort-link">
                        <img src="assets/img/home/icons/lucky.png" alt="">
                        <p>get lucky</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="loader-container">
                <a href="#!" class="btn-main wht loader">
                    <span>load more</span>
                </a>
            </div>
        </div>
        <div class="game__list-grid">
            <div class="box">
                <div class="box__content">
                    <a href="#!" class="game-sort-link">
                        <img src="assets/img/home/icons/roulette.png" alt="">
                        <p>roulette</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__content">
                    <div class="box__content-action">
                        <div class="online_user">
                            <svg viewBox="0 0 448 512">
                                <use xlink:href="#user-ico"></use>
                            </svg>
                            <span>10</span>
                        </div>
                        <div class="title">
                            royal game
                        </div>
                        <a href="#!" class="play"></a>
                        <a href="#!" class="btn-main demo">demo</a>
                    </div>
                    <div class="box__content-tmb">
                        <img src="assets/img/home/game-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="loader-container">
                <a href="#!" class="btn-main wht loader">
                    <span>load more</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="action__section">
    <div class="container">
        <div class="bottom__banner">
            <div class="row">
                <div class="col-lg-7 col-md-6 align-items-center d-flex justify-content-center">
                    <div class="bottom__banner-content">
                        <h2 class="text-center text-md-left">
                            <span class="banner-title">Ready to get started?</span>
                            <span class="text-uppercase banner-title-lg">welcome bonus</span>
                            <span class="text-uppercase banner-title-lg orng-text">1000 usd</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="bottom__banner-form">
                        <div class="v-modal">
                            <div class="v-modal__dialog">
                                <div class="v-modal__content">
                                    <div class="v-modal__header register">
                                        <div class="v-modal__title">
                                            <p class="v-modal__offer">
                                                Claim your welcome offer:
                                                <b>Up to €800 Bonus!</b>
                                                Register now
                                            </p>
                                        </div>
                                    </div>
                                    <div class="v-modal__body">
                                        <form class="v-form">
                                            <div class="v-form__title">Sign Up</div>
                                            <div class="v-form-wrapper">
                                                <label class="v-form__label">name</label>
                                                <input class="v-form__input success" type="" name="" placeholder="Enter your full name">
                                                <span class="v-message__success">completed successfully</span>
                                            </div>
                                            <div class="v-form-wrapper">
                                                <label class="v-form__label">email</label>
                                                <input class="v-form__input error" type="" name="" placeholder="Here goes  your email">
                                                <span class="v-message__error">This field is required</span>
                                            </div>
                                            <div class="v-form-wrapper">
                                                <label class="v-form__label">password</label>
                                                <input class="v-form__input" type="" name="" placeholder="Set  your password">
                                            </div>
                                            <div class="v-form__check">
                                                <div class="v-form__check-box">
                                                    <input id="age-check" name="" type="checkbox" checked>
                                                    <label for="age-check">
                                                        I am at least 18 years of age and I have read, accepted and agreed to the
                                                        <a href="#!">Privacy Policy, Bonus T&C, Terms and Conditions</a>
                                                    </label>
                                                </div>
                                                <div class="v-form__check-box">
                                                    <input id="promotions-check" name="" type="checkbox" checked>
                                                    <label for="promotions-check">I want to receive promotions by e-mail.</label>
                                                </div>
                                            </div>
                                            <div class="v-form__footer">
                                                <button type="submit" class="btn-main orng">sign up</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="v-modal__footer justify-content-center flex-column">
                                        <p>Already have an account?</p>
                                        <a href="#!" class="btn-main btn-sign" data-toggle="modal" data-target="#signInModal">sign in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--winners bottom slider-->
<section class="top-winners active">
    <div class="hide_btn">
        <span>Hide</span>
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="14.72" height="9.72" viewBox="0 0 14.72 9.72">
            <g id="Group_850" data-name="Group 850">
                <g id="Component_10_57" data-name="Component 10 57">
                    <path class="cls-1" d="M7.28,9.61h0A1.48,1.48,0,0,1,6.15,9.1L.37,2.49a1.5,1.5,0,0,1,2.26-2L7.3,5.85,12.1.5a1.5,1.5,0,0,1,2.24,2L8.4,9.12A1.53,1.53,0,0,1,7.28,9.61Z"/>
                </g>
            </g>
        </svg>
    </div>
    <h4 class="title">
        <img src="assets/img/winner.png" alt="">
        <span>winning now</span>
    </h4>
    <div id="winner-slider" class="top-winners_slider">
        <div class="slider-item">
            <div class="top-winners_slider-item">
                <div class="play-buttons">
                    <a href="#!" class="btn-main orng">Play</a>
                    <a href="#!" class="btn-main prpl">demo</a>
                </div>
                <div class="game-img">
                    <img src="assets/img/home/game-1.png" alt="">
                </div>
                <div class="winner-info">
                    <div class="winner-info_name">
                        <span>jake***</span>
                        <span class="amount">132 USD</span>
                    </div>
                    <div class="game-name">King of 3 Kingdoms</div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="top-winners_slider-item">
                <div class="play-buttons">
                    <a href="#!" class="btn-main orng">Play</a>
                    <a href="#!" class="btn-main prpl">demo</a>
                </div>
                <div class="game-img">
                    <img src="assets/img/home/game-1.png" alt="">
                </div>
                <div class="winner-info">
                    <div class="winner-info_name">
                        <span>jake***</span>
                        <span class="amount">132 USD</span>
                    </div>
                    <div class="game-name">King of 3 Kingdoms</div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="top-winners_slider-item">
                <div class="play-buttons">
                    <a href="#!" class="btn-main orng">Play</a>
                    <a href="#!" class="btn-main prpl">demo</a>
                </div>
                <div class="game-img">
                    <img src="assets/img/home/game-1.png" alt="">
                </div>
                <div class="winner-info">
                    <div class="winner-info_name">
                        <span>jake***</span>
                        <span class="amount">132 USD</span>
                    </div>
                    <div class="game-name">King of 3 Kingdoms</div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="top-winners_slider-item">
                <div class="play-buttons">
                    <a href="#!" class="btn-main orng">Play</a>
                    <a href="#!" class="btn-main prpl">demo</a>
                </div>
                <div class="game-img">
                    <img src="assets/img/home/game-1.png" alt="">
                </div>
                <div class="winner-info">
                    <div class="winner-info_name">
                        <span>jake***</span>
                        <span class="amount">132 USD</span>
                    </div>
                    <div class="game-name">King of 3 Kingdoms</div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="top-winners_slider-item">
                <div class="play-buttons">
                    <a href="#!" class="btn-main orng">Play</a>
                    <a href="#!" class="btn-main prpl">demo</a>
                </div>
                <div class="game-img">
                    <img src="assets/img/home/game-1.png" alt="">
                </div>
                <div class="winner-info">
                    <div class="winner-info_name">
                        <span>jake***</span>
                        <span class="amount">132 USD</span>
                    </div>
                    <div class="game-name">King of 3 Kingdoms</div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="top-winners_slider-item">
                <div class="play-buttons">
                    <a href="#!" class="btn-main orng">Play</a>
                    <a href="#!" class="btn-main prpl">demo</a>
                </div>
                <div class="game-img">
                    <img src="assets/img/home/game-1.png" alt="">
                </div>
                <div class="winner-info">
                    <div class="winner-info_name">
                        <span>jake***</span>
                        <span class="amount">132 USD</span>
                    </div>
                    <div class="game-name">King of 3 Kingdoms</div>
                </div>
            </div>
        </div>
    </div>
</section>
