---
layout: default
title: Vulcan Fruit - Terms
---
<div class="container">
    <section class="static-content">
        <h1>PRIVACY POLICY</h1>
        <br>
        <p>You submit this data when you register on the Website or when you pass the verification:</p>
        <ul>
            <li>Specify how the Company collects, stores and process your data;</li>
            <li>Specify how the Company collects, stores and process your data;</li>
            <li>Specify how the Company collects, stores and process your data;</li>
            <li>Specify how the Company collects, stores and process your data;</li>
        </ul>
        <h2>3.1 Registration and verification data.</h2>
        <p>You submit this data when you register on the Website or when you pass the verification:</p>
        <ul>
            <li>Specify how the Company collects, stores and process your data;</li>
            <li>Specify how the Company collects, stores and process your data;</li>
            <li>Specify how the Company collects, stores and process your data;</li>
            <li>Specify how the Company collects, stores and process your data;</li>
        </ul>
        <a href="#!">some link here</a>
    </section>
</div>
<section class="action__section">
    <div class="container">
        <div class="bottom__banner">
            <div class="row">
                <div class="col-lg-7 col-md-6 align-items-center d-flex justify-content-center">
                    <div class="bottom__banner-content">
                        <h2 class="text-center text-md-left">
                            <span class="banner-title">Ready to get started?</span>
                            <span class="text-uppercase banner-title-lg">welcome bonus</span>
                            <span class="text-uppercase banner-title-lg orng-text">1000 usd</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="bottom__banner-form">
                        <div class="v-modal">
                            <div class="v-modal__dialog">
                                <div class="v-modal__content">
                                    <div class="v-modal__header register">
                                        <div class="v-modal__title">
                                            <p class="v-modal__offer">
                                                Claim your welcome offer:
                                                <b>Up to €800 Bonus!</b>
                                                Register now
                                            </p>
                                        </div>
                                    </div>
                                    <div class="v-modal__body">
                                        <form class="v-form">
                                            <div class="v-form__title">Sign Up</div>
                                            <div class="v-form-wrapper">
                                                <label class="v-form__label">name</label>
                                                <input class="v-form__input success" type="" name="" placeholder="Enter your full name">
                                                <span class="v-message__success">completed successfully</span>
                                            </div>
                                            <div class="v-form-wrapper">
                                                <label class="v-form__label">email</label>
                                                <input class="v-form__input error" type="" name="" placeholder="Here goes  your email">
                                                <span class="v-message__error">This field is required</span>
                                            </div>
                                            <div class="v-form-wrapper">
                                                <label class="v-form__label">password</label>
                                                <input class="v-form__input" type="" name="" placeholder="Set  your password">
                                            </div>
                                            <div class="v-form__check">
                                                <div class="v-form__check-box">
                                                    <input id="age-check" name="" type="checkbox" checked>
                                                    <label for="age-check">
                                                        I am at least 18 years of age and I have read, accepted and agreed to the
                                                        <a href="#!">Privacy Policy, Bonus T&C, Terms and Conditions</a>
                                                    </label>
                                                </div>
                                                <div class="v-form__check-box">
                                                    <input id="promotions-check" name="" type="checkbox" checked>
                                                    <label for="promotions-check">I want to receive promotions by e-mail.</label>
                                                </div>
                                            </div>
                                            <div class="v-form__footer">
                                                <button type="submit" class="btn-main orng">sign up</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="v-modal__footer justify-content-center flex-column">
                                        <p>Already have an account?</p>
                                        <a href="#!" class="btn-main btn-sign" data-toggle="modal" data-target="#signInModal">sign in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
