//account scss
.user-overlay {
  min-height: 100vh;
  background-color: $footer-bg;
  overflow:hidden;
  width: 100%;
}

.user__offer {
  min-height: 440px;
  position: relative;
  display: flex;
  padding: 75px 0 40px 0;
  z-index: 2;
  @media #{$breakpoint-sm}{
    min-height: 300px;
  }

  &-content {
    display: flex;
    align-items: center;
    height: 100%;
    @media #{$breakpoint-xs}{
      padding-top: 30px;
      flex-direction: column;
      align-items: flex-start;
    }

    .tumb {
      width: 185px;
      min-width: 185px;
      height: 180px;
      border-radius: 27px;
      overflow: hidden;
      margin-right: 40px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      @media #{$breakpoint-sm}{
        width: 150px;
        min-width: 150px;
        height: 145px;
      }
      @media #{$breakpoint-xs}{
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .title {
      @extend .title-md;
      text-transform: uppercase;
      font-family: $acumin;
      color: $light-wht;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &-banner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}

.profile__tabs {
  background-color: $footer-bg;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(transparent, $footer-bg);
    z-index: 3;
  }

  .tab-scroller {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .account-nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    @media #{$breakpoint-md}{
      display: none;
    }
    .nav-item {
      white-space: nowrap;
    }

    .nav-link {
      font-family: $acumin;
      text-transform: uppercase;
      font-size: 17px;
      color: $light-wht;
      padding-left: 0;
      padding-right: 0;
      @media #{$breakpoint-lg-max}{
        font-size: 14px;
      }
      &.active {
        border-bottom: 2px solid $light-wht;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}
.md-account-nav{
  width: 100%;
  border-top: 1px solid $input-dark-border;
  display: none;
  margin-top: 10px;
  padding-top: 10px;
  .nav-item{
    a{
      padding: 10px 0;
      margin-bottom: 5px;
      font-size: 16px;
      color: $link-color;
      i{
        margin-right: 15px;
        &::before{
          width: 16px;
          margin: 0;
        }
      }
    }
  }
  @media #{$breakpoint-md}{
    display: block;
  }
}
.account-offer {
  position: relative;
  max-width: 340px;
  height: 220px;
  border-radius: 27px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  @media #{$breakpoint-md}{
    display: none;
  }

  a {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.history-table {
  overflow-x: auto;
  margin-bottom: 50px;
  table {
    color: $light-wht;
    font-family: $acumin;
    min-width: 600px;
    thead {
      th {
        border-top: unset;
        border-bottom: unset;
        color: $table-th-color;
      }
    }
  }
}
.qr-section{
  padding-top: 50px;
  width: 200px;
  @media #{$breakpoint-md}{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .code{
    font-family: $acumin;
    color: $table-th-color;
    margin-top: 15px;
  }
}
.empty-title{
  color: $table-th-color;
  font-family: $acumin;
  padding-top: 30px;
  font-size: 20px;
}
