.contact{
  overflow: hidden;
  padding: 50px 0 80px 0;
  background-image: url(../img/home/slider-cover.png);
  background-size: cover;
  @media #{$breakpoint-sm-ex}{
    padding-bottom: 0;
  }
  ._ex-col{
    @media #{$breakpoint-sm}{
      background-color: $white;
    }
  }
  .v-form{
    padding: 40px 30px 20px 30px;
    background-color: $white;
  }
  &__text{
    margin-bottom: 40px;
    height: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      font-family: $openSansBold;
      font-size: 16px;
      margin-bottom: 20px;
    }
    ul{
      li{
        margin: 10px 0;
        i{
          width: 40px;
          display: inline-block;
        }
      }
    }
  }
}
