.v-game {
  height: 100vh;
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $game-section-bg;
  &__sidebar {
    width: 30rem;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
    position: relative;
    @media #{$breakpoint-md}{
      display: none;
    }
    &-header {
      background-image: url(../img/game-sidebar.png);
      min-height: 20rem;
      background-size: contain;
      width: 100%;
      text-align: center;
      .navbar-logo{
        display: inline-block;
        margin-top: 50px;
      }
      h2{
        font-family: $acumin;
        color: $light-wht;
        font-size: 30px;
        padding: 30px 0;
      }
    }
    &-list{
      height: 100%;
      padding: 10px;
      position: relative;
      .game__list-grid{
        flex-direction: column;
        overflow: hidden;
        .box{
          width: 180px;
          height: 180px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  &__container {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: $light-wht;
    iframe{
      border:none;
    }
    &-header{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      padding: 15px;
      background-color: $game-section-bg;
      display: flex;
      justify-content: space-between;
      h2{
        font-family: $acumin;
        font-size: 30px;
        color: $light-wht;
      }
    }
    &-action{
      @extend .v-game__container-header;
      justify-content: center;
      top: unset;
      bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgba(10, 4, 99, 0.5);
    }
  }
}
.game__container-action{
  padding: 15px 0;
}

.split-game{
  background-color: $game-section-bg;
  min-height: 100vh;
  position: relative;
  &__container-header{
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 15px;
    max-width: 1640px;
    margin: 0 auto;
  }
  &__container{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 10px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    @media #{$breakpoint-lg-max}{
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }
  &__box{
    height: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media #{$breakpoint-lg-max}{
      height: 80vh;
    }
    .split-game__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 5px 0;
      height: 40px;
      min-height: 40px;
      h2{
        font-size: 20px;
        font-family: $acumin;
        color: $white;
        margin: 0;
      }
      .btn-main{
        padding: 5px 10px;
      }
    }
    &-content{
      height: 100%;
      background-color: $user-profile-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .cls{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        color: $white;
        font-size: 24px;
        padding: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        user-select: none;
        &:hover{
          color: $orng;
        }
      }
    }
  }
}
