.body-overlay{
  padding-top: 65px;
  background-color: $body-bg-color;
}
.game__category{
  background-color: $mid-prpl;
  padding:20px 30px 60px 30px;
  min-height: 150px;
  background-image: url("../img/home/category-layer.png");
  background-size: contain;
  background-position: bottom -10px center;
  background-repeat-x:repeat;
  @media #{$breakpoint-sm}{
    padding-left: 0px;
    padding-right: 0px;
    background-size: auto;
    padding-bottom: 20px;
    min-height: unset;
  }
}
.game__providers{
  &-sort{
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
    width: 100%;
    justify-content: flex-end;
    span{
      display: block;
      margin-right: 15px;
    }
    .btn-main{
      width: 120px;
      &::before{
        content: '';
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
        right: 20px;
        width: 20px;
        height: 10px;
        background-image: url("../img/icons/chevron-down.png");
        background-size: contain;
        background-position: center;
      }
      &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        background-color: $white;
        display: none;
      }
    }
  }
  &-container{
    padding:20px 0;
    background-color: $white;
    margin-bottom: 25px;
    display: none;
  }
  &.open{
    .game__providers-container{
      display: block;
    }
    .providers-sort-btn{
      border-color: $base-blue;
      &::after{
        display: block;
      }
      &::before{
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
.providers-list{
  display: flex;
  flex-wrap: wrap;
}
.game__list{
  padding-bottom: 70px;
  background-image: url("../img/home/games-layer.png");
  background-size: contain;
  background-position: bottom;
  background-repeat-x: repeat;
  @media #{$breakpoint-sm}{
    padding-bottom: 40px;
    background-size: auto;
  }
  &-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    &.sm{
      .box{
        width: 25%;
        padding-bottom: 25%;
      }
    }
    .loader-container{
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
    .box{
      position: relative;
      width: 14.28%;
      padding-bottom: 14.28%;
      @media #{$breakpoint-lg-max}{
        width: 20%;
        padding-bottom: 20%;
      }
      @media #{$breakpoint-md}{
        width: 25%;
        padding-bottom: 25%;
      }
      @media #{$breakpoint-sm}{
        width: 33.33%;
        padding-bottom: 33.33%;
      }
      @media #{$breakpoint-xs}{
        width: 50%;
        padding-bottom: 50%;
      }
      &:hover{
        .box__content-action{
          opacity: 1;
          visibility: visible;
        }
        .demo{
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        .box__content-tmb{
          &::before{
            opacity: 0.8;
          }
        }
      }
      &__content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 27px;
        padding:10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .game-sort-link{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: $light-wht;
          border-radius: 27px;
          text-transform: uppercase;
          p{
            font-family: $acumin;
            font-size: 18px;
            margin-bottom: 0;
            margin-top: 10px;
            color: $link-color;
          }
        }
        &-tmb{
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 27px;
          z-index: 1;
          &::before{
            content: '';
            position: absolute;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            background-color: $dark-prpl;
            opacity: .8;
            left: 10px;
            top: 10px;
            transition: .4s;
            border-radius: 27px;
            opacity: 0;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        &-action{
          position: absolute;
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          top: 10px;
          left: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 2;
          opacity: 0;
          transition: .2s;
          visibility: hidden;
          .title{
            font-family: $acumin;
            color: $light-wht;
            font-size: 18px;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .play{
            width: 40px;
            height: 40px;
            margin: 12px 0;
            background-image: url("../img/icons/play.png");
            background-size: contain;
            background-position: center;
            position: relative;
            transition: .2s;
            @media #{$breakpoint-md}{
              width: 36px;
              height: 36px;
              margin: 8px 0;
            }
            &:hover{
              transform: scale(1.1);
            }
          }
          .demo{
            position: relative;
            padding: 4px 20px;
            font-size: 12px;
            color: $light-wht;
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
            &:hover{
              background-color: $light-wht;
              color: $link-color;
              border-color: $light-wht;
            }
          }
          .online_user{
            position: absolute;
            bottom: 0;
            left: 20px;
            font-family: $openSans;
            color: $white;
            display: flex;
            align-items: center;
            font-size: 13px;
            user-select: none;
            @media #{$breakpoint-sm-ex}{
              display: none;
            }
            svg{
              color: $orng;
              fill: $orng;
              width: 10px;
              height: 18px;
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}
.action__section{
  background-image: url("../img/home/slider-cover.png");
  background-position: center;
  background-size: cover;
  .bottom__banner{
    padding: 70px 0;
    @media #{$breakpoint-sm}{
      padding: 40px 0 60px 0;
    }
    h2{
      color: $light-wht;
      font-family: $acumin;
      @media #{$breakpoint-sm}{
        margin-bottom: 0;
      }
      span{
        display: block;
        letter-spacing: 3px;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        &.orng{
          text-shadow: 1px 1px 5px rgba(8, 3, 0, 0.8);
        }
      }
    }
  }
}
.top-winners{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  background-color: $white;
  z-index: 2;
  margin-bottom: -70px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  &.show{
    opacity: 1;
    visibility: visible;
  }
  &.active{
    margin-bottom: 0;
    .hide_btn{
      svg{
        transform: rotate(0);
      }
    }
  }
  .hide_btn{
    position: absolute;
    right: 15px;
    top: -36px;
    height: 36px;
    background: $auth-nav-bg;
    color: $white;
    fill: $orng;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: $acumin;
    text-transform: uppercase;
    padding: 0 15px;
    min-width: 100px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 14px;
    span{
      margin-right: 5px;
    }
    svg{
      transition: .2s;
      transform: rotate(180deg);
    }
  }
  .title{
    display: flex;
    align-items: center;
    margin:0;
    font-family: $acumin;
    background-color: $auth-nav-bg;
    line-height: 1;
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 20px 0 0;
    max-width: 100%;
    @media #{$breakpoint-lg-max}{
      padding-left: 15px;
      padding-right: 15px;
    }
    @media #{$breakpoint-md}{
      font-size: 16px;
    }
    @media #{$breakpoint-sm-ex}{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
    }
    img{
      height: 100%;
      margin-right: 20px;
      @media #{$breakpoint-lg-max}{
        display: none;
      }
    }
  }
  &_slider{
    width: 100%;
    height: 70px;
    overflow: hidden;
    &-item{
      height: 70px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 10px;
      &:hover{
        .play-buttons{
          opacity: 1;
          visibility: visible;
        }
      }
      .play-buttons{
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0 20px;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,.85);
        transition: .2s;
        opacity: 0;
        visibility: hidden;
        .btn-main{
          padding-left: 18px;
          padding-right: 18px;
          margin: 0 5px;
        }
      }
      .winner-info{
        width: 80%;
        padding-left: 5px;
        .winner-info_name{
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            width: 50%;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            font-family: $openSans;
            font-size: 14px;
            color: $table-th-color;
            @media #{$breakpoint-sm-ex}{
              font-size: 12px;
            }
            &.amount{
              text-align: right;
              font-family: $openSansBold;
              color: $footer-bg;
            }
          }
        }
      }
      .game-img{
        width: 50px;
        height: 50px;
        min-height: 50px;
        border-radius: 6px;
        overflow: hidden;
        min-width: 50px;
        max-width: 20%;
        @media #{$breakpoint-sm-ex}{
          width: 36px;
          height: 36px;
          min-height: 36px;
          min-width: 36px;
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .game-name{
        font-family: $openSansBold;
        color: $table-th-color;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media #{$breakpoint-sm-ex}{
          font-size: 12px;
        }
      }
    }
  }
}


































.testDiv{
  min-height: 300px;
  margin-bottom: 10px;
  background-color: #E2E2E2;
}
