.static-content {
  font-family: $openSans;
  padding: 40px 15px 50px 15px;
  color: $link-color;
  background-color: $white;
  margin: 20px 0;
  h1, h2, h3, h4, h5, h6 {
    font-family: $acumin;
    margin-bottom: 20px;
  }
  a{
    font-size: 16px;
    text-decoration: underline;
  }
  p {
    font-size: 16px;
  }
  ol{
    margin-left: 15px;
    li{
      padding-left: 10px;
    }
  }
  ul{
    li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 30px;

      &::before {
        content: "*";
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 24px;
        font-family: $acumin;
        font-weight: bolder;
        color: $base-blue;
        font-weight: bolder;
        line-height: 1;
      }
    }
  }
}

