<footer class="footer">
    <div class="container">
        <div class="footer__section">
            <div class="row footer-links">
                <div class="col-md-4">
                    <ul>
                        <li><h2>Game providers</h2></li>
                        <li><a href="#!">Microgaming</a></li>
                        <li><a href="#!">Microgaming</a></li>
                        <li><a href="#!">Microgaming</a></li>
                        <li><a href="#!">Microgaming</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><h2>Information</h2></li>
                        <li><a href="#!">Support Center</a></li>
                        <li><a href="#!">Support Center</a></li>
                        <li><a href="#!">Support Center</a></li>
                        <li><a href="#!">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><h2>Game Categories</h2></li>
                        <li><a href="#!">Trending</a></li>
                        <li><a href="#!">New</a></li>
                        <li><a href="#!">New</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <h2>Vulkan Casino Loyalty Program</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
            <h2>Customer Service</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>© 2020 VulkanFruit. All rights reserved</p>
        </div>
    </div>
</footer>
