<!--sign up modal-->
<div class="v-modal modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="v-modal__dialog modal-dialog" role="document">
        <div class="v-modal__content modal-content">
            <div class="v-modal__header modal-header register">
                <div class="v-modal__title modal-title" id="signUpModalTitle">
                    <p class="v-modal__offer">
                        Claim your welcome offer:
                        <b>Up to €800 Bonus!</b>
                        Register now
                    </p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="v-modal__body modal-body">
                <form class="v-form">
                    <div class="v-form__title">Sign Up</div>
                    <div class="v-form-wrapper">
                        <label class="v-form__label">name</label>
                        <input class="v-form__input" type="" name="" placeholder="Enter your full name">
                    </div>
                    <div class="v-form-wrapper">
                        <label class="v-form__label">email</label>
                        <input class="v-form__input" type="" name="" placeholder="Here goes  your email">
                    </div>
                    <div class="v-form-wrapper">
                        <label class="v-form__label">password</label>
                        <input class="v-form__input" type="password" name="" placeholder="Set  your password">
                    </div>
                    <div class="v-form__check">
                        <div class="v-form__check-box">
                            <input id="age-check-modal" name="" type="checkbox" checked>
                            <label for="age-check-modal">
                                I am at least 18 years of age and I have read, accepted and agreed to the
                                <a href="#!">Privacy Policy, Bonus T&C, Terms and Conditions</a>
                            </label>
                        </div>
                        <div class="v-form__check-box">
                            <input id="promotions-check-modal" name="" type="checkbox" checked>
                            <label for="promotions-check-modal">I want to receive promotions by e-mail.</label>
                        </div>
                    </div>
                    <div class="v-form__footer">
                        <button type="submit" class="btn-main orng">sign up</button>
                    </div>
                </form>
            </div>
            <div class="v-modal__footer modal-footer justify-content-center flex-column">
                <p>Already have an account?</p>
                <a href="#signin" class="btn-main btn-sign" data-dismiss="modal" data-toggle="modal" data-target="#signInModal">sign in</a>
            </div>
        </div>
    </div>
</div>
<!--sign up modal ends-->

<!--sign in modal-->
<div class="v-modal modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
    <div class="v-modal__dialog modal-dialog" role="document">
        <div class="v-modal__content modal-content">
            <div class="v-modal__header modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="v-modal__body modal-body">
                <form class="v-form">
                    <div class="v-form__title">Sign In</div>
                    <div class="v-form-wrapper">
                        <label class="v-form__label">email</label>
                        <input class="v-form__input" type="" name="" placeholder="Enter your email">
                    </div>
                    <div class="v-form-wrapper">
                        <label class="v-form__label">password</label>
                        <input class="v-form__input" type="password" name="" placeholder="Enter your password">
                    </div>
                    <div class="v-form__footer">
                        <button type="submit" class="btn-main orng">sign in</button>
                        <a href="#!" class="pass-recovery">Forgot your password?</a>
                    </div>
                </form>
            </div>
            <div class="v-modal__footer modal-footer justify-content-center flex-column">
                <p>not a member yet?</p>
                <a href="#signup" class="btn-main btn-sign" data-dismiss="modal" data-toggle="modal" data-target="#signUpModal">sign up</a>
            </div>
        </div>
    </div>
</div>
<!--sign in modal ends-->

<!--add game modal-->
<div class="v-modal game-list-modal modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="addGameModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="v-modal__content modal-content">
            <div class="v-modal__header modal-header">
                <div>Play more</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="v-modal__body modal-body">
                <div class="add-game__search">
                    <div class="search-field">
                        <div class="search-label">Search:</div>
                        <form action="">
                            <input type="text" placeholder="E.g. Book of Dead">
                        </form>
                        <button class="search-btn"></button>
                    </div>
                </div>
                <div class="game__list-grid sm">
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__content">
                            <div class="box__content-action">
                                <div class="online_user">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="#user-ico"></use>
                                    </svg>
                                    <span>10</span>
                                </div>
                                <div class="title">
                                    royal game
                                </div>
                                <a href="game-split.html" class="play"></a>
                                <a href="game-split.html" class="btn-main demo">demo</a>
                            </div>
                            <div class="box__content-tmb">
                                <img src="assets/img/home/game-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--add game modal ends-->
