<header class="header">
    <div class="overlay"></div>
    <div class="header__container">
        <!-- responsive navbar -->
        <ul class="sm-navbar">
            <li>
                <a href="/" class="navbar-logo">
                    <img src="assets/img/logo.svg" alt="">
                </a>
            </li>
            <li>
                <ul class="d-flex align-items-center">
                    <li>
                        <a href="#!" class="header__sign-btn btn-main orng d-none d-sm-block" data-toggle="modal" data-target="#signUpModal">sign up</a>
                    </li>
                    <li>
                        <a href="#!" class="header__sign-btn btn-main prpl" data-toggle="modal" data-target="#signInModal">sign in</a>
                    </li>
                    <li class="header__lang-bar sm">
                        <button class="i-lang en"></button>
                        <div class="header__lang-bar-box">
                            <a href="#!" class="i-lang ru"></a>
                        </div>
                    </li>
                    <li>
                        <div class="hamburger"></div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- responsive navbar end -->
        <nav class="header__navbar">
            <div class="mobile-cls">×</div>
            <ul class="header__flex sm sm-scroll">
                <li>
                    <a href="/" class="navbar-logo">
                        <img src="assets/img/logo.svg" alt="">
                    </a>
                </li>
                <li class="search-field">
                    <div class="search-label">Search:</div>
                    <form action="">
                        <input type="text" placeholder="E.g. Book of Dead">
                    </form>
                    <button class="search-btn"></button>
                </li>
                <li>
                    <a href="#!" class="navbar-link">Спорт</a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">Казино</a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">
                        <span class="new-mark">new</span>
                        jetx
                    </a>
                </li>
            </ul>
            <ul class="header__flex sm f-row">
                <li>
                    <a href="#!" class="header__sign-btn btn-main orng" data-toggle="modal" data-target="#signUpModal">sign up</a>
                </li>
                <li>
                    <a href="#!" class="header__sign-btn btn-main prpl" data-toggle="modal" data-target="#signInModal">sign in</a>
                </li>
                <li class="header__lang-bar">
                    <button class="i-lang en"></button>
                    <div class="header__lang-bar-box">
                        <a href="#!" class="i-lang ru"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
