<header class="header profile-nav">
    <div class="overlay"></div>
    <div class="header__container">
        <!-- responsive navbar -->
        <ul class="sm-navbar">
            <li>
                <a href="/" class="navbar-logo">
                    <img src="assets/img/logo.svg" alt="">
                </a>
            </li>
            <li>
                <ul class="d-flex align-items-center">
                    <li>
                        <a href="account.html#deposit" class="header__sign-btn btn-main orng d-lg-none d-block">deposit</a>
                    </li>
                    <li>
                        <div class="hamburger"></div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- responsive navbar end -->
        <nav class="header__navbar">
            <div class="mobile-cls">×</div>
            <ul class="header__flex sm sm-scroll">
                <li>
                    <a href="/" class="navbar-logo">
                        <img src="assets/img/logo.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">sports</a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">casino</a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">
                        <span class="new-mark">new</span>
                        jetx
                    </a>
                </li>
                <ul class="nav md-account-nav" id="user-fields" role="tablist">
                    <li class="nav-item">
                        <a href="#account" id="account-tab" class="nav-link active show" data-toggle="tab" role="tab" area-controls="account" area-selected="true"><i class="i-account"></i>account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#deposit" id="deposit-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="deposit" area-selected="false"><i class="i-deposit"></i>deposit</a>
                    </li>
                    <li class="nav-item">
                        <a href="#withdraw" id="withdraw-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="withdraw" area-selected="false"><i class="i-withdraw"></i>withdraw</a>
                    </li>
                    <li class="nav-item">
                        <a href="#history" id="history-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="history" area-selected="false"><i class="i-history"></i>history</a>
                    </li>
                    <li class="nav-item">
                        <a href="#security" id="security-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="security" area-selected="false"><i class="i-security"></i>security</a>
                    </li>
                    <li class="nav-item">
                        <a href="#verification" id="verification-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="verification" area-selected="false"><i class="i-verification"></i>verification</a>
                    </li>
                    <li class="nav-item">
                        <a href="#my-games" id="my-games-tab" class="nav-link" data-toggle="tab" role="tab" area-controls="my-games" area-selected="false"><i class="i-my-games"></i>my games</a>
                    </li>
                </ul>
            </ul>
            <ul class="header__flex sm f-row">
                <li>
                    <div class="header__user">
                        <!--user button goes here-->
                        <div class="user-details">
                            <a href="#!" class="header__user-avatar">
                                <img src="https://royalfashionist-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/foto-SORRISO-LINEAR.jpg" alt="">
                            </a>
                            <div class="header__user-info">
                                <a href="#!" class="name">Nick Bubich</a>
                                <div class="nav-user">
                                    <span class="nav-user-btn">100$</span>
                                    <div class="nav-user-switch">
                                        <ul>
                                            <li>Balance: 1000 €</li>
                                            <li>Bonus: 1000 €</li>
                                            <li class="log-out">
                                                <a href="index.html">Log Out</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notifications">
                            <div class="notifications-bell"><span>2+</span></div>
                            <div class="notifications-list"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="account.html#deposit" class="btn-main orng">deposit</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
