<header class="header">
    <div class="overlay"></div>
    <div class="header__container">
        <!-- responsive navbar -->
        <ul class="sm-navbar">
            <li>
                <a href="/" class="navbar-logo">
                    <img src="assets/img/logo.svg" alt="">
                </a>
            </li>
            <li>
                <ul class="d-flex align-items-center">
                    <li>
                        <a href="account.html#deposit" class="header__sign-btn btn-main orng d-lg-none d-block">deposit</a>
                    </li>
                    <li class="header__lang-bar sm">
                        <button class="i-lang en"></button>
                        <div class="header__lang-bar-box">
                            <a href="#!" class="i-lang ru"></a>
                        </div>
                    </li>
                    <li>
                        <div class="hamburger"></div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- responsive navbar end -->
        <nav class="header__navbar">
            <div class="mobile-cls">×</div>
            <ul class="header__flex sm sm-scroll">
                <li>
                    <a href="/" class="navbar-logo">
                        <img src="assets/img/logo.svg" alt="">
                    </a>
                </li>
                <li class="search-field">
                    <div class="search-label">Search:</div>
                    <form action="">
                        <input type="text" placeholder="E.g. Book of Dead">
                    </form>
                    <button class="search-btn"></button>
                </li>
                <li>
                    <a href="#!" class="navbar-link">sports</a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">casino</a>
                </li>
                <li>
                    <a href="#!" class="navbar-link">
                        <span class="new-mark">new</span>
                        jetx
                    </a>
                </li>
            </ul>
            <ul class="header__flex sm f-row">
                <li>
                    <div class="header__user">
                        <!--user button goes here-->
                        <div class="user-details">
                            <a href="#!" class="header__user-avatar">
                                <img src="https://royalfashionist-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/foto-SORRISO-LINEAR.jpg" alt="">
                            </a>
                            <div class="header__user-info">
                                <a href="#!" class="name">Nick Bubich</a>
                                <div class="nav-user">
                                    <span class="nav-user-btn">1000 €</span>
                                    <div class="nav-user-switch">
                                        <ul>
                                            <li>Balance: 1000 €</li>
                                            <li>Bonus: 1000 €</li>
                                            <li class="log-out">
                                                <a href="index.html">Log Out</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notifications">
                            <div class="notifications-bell"><span>2</span></div>
                            <div class="notifications-list"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="account.html#deposit" class="header__sign-btn btn-main orng">deposit</a>
                </li>
                <li class="header__lang-bar">
                    <button class="i-lang en"></button>
                    <div class="header__lang-bar-box">
                        <a href="#!" class="i-lang ru"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
